*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;

    --off-black: #272727;
    --off-white: #fafafa;

    --light-grey: #9b9b9b;
    --dark-grey: #4d4d4d;

    --trans-grey: #eaeaeacc;
    --trans-white: #ffffff4d;

    /* --heading-family: "Josefin Sans", sans-serif; */
    /* --heading-family: "Cinzel", serif; */
    --heading-family: "Kaisei Decol", serif;
    /* --body-family: "Noto Traditional Nushu", sans-serif; */
    --body-family: "League Spartan", sans-serif;

    --heading1-size: 70px;
    --heading1-line-height: 80px;
    --heading1-weight: 400;

    --heading2-size: 42px;
    --heading2-line-height: 42px;
    --heading2-weight: 400;

    --heading3-size: 36px;
    --heading3-line-height: 42px;
    --heading3-weight: 400;

    --heading4-size: 30px;
    --heading4-line-height: 36px;
    --heading4-weight: 400;

    --heading5-size: 16px;
    --heading5-line-height: 24px;
    --heading5-weight: 700;

    --body-size: 16px;
    --body-line-height: 30px;
    --body-weight: 400;

    --link-size: 18px;
    --link-line-height: 24px;
    --link-weight: 400;

    --button-weight: 700;

    background-image: url("/images/UI/bg2.png");
    background-color: var(--off-white);
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;

    color: var(--off-black);
    
}

.root-container{
    width: 100%;
    height: 100%;
    /* display: grid;
    padding: 32px;
    grid-template-columns: 1fr 400px;
    gap: 32px; */
}

.canvas{
    width: 50vw;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.4);
    border: 1px solid var(--off-black);
}

h1{
    font-family: var(--heading-family);
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    line-height: var(--heading1-line-height);
}

h2{
    font-family: var(--heading-family);
    font-size: var(--heading2-size);
    font-weight: var(--heading2-weight);
    line-height: var(--heading2-line-height);
}

h3{
    font-family: var(--heading-family);
    font-size: var(--heading3-size);
    font-weight: var(--heading3-weight);
    line-height: var(--heading3-line-height);
    color: var(--light-grey);
}

h4{
    font-family: var(--heading-family);
    font-size: var(--heading4-size);
    font-weight: var(--heading4-weight);
    line-height: var(--heading4-line-height);
}

h5{
    font-family: var(--heading-family);
    font-size: var(--heading5-size);
    font-weight: var(--heading5-weight);
    line-height: var(--heading5-line-height);
}

strong{
    font-weight: 700;
}

p{
    margin: 0;
    font-family: var(--body-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    line-height: var(--body-line-height);
}

a{
    margin: 0;
    font-family: var(--body-family);
    font-size: var(--link-size);
    font-weight: var(--link-weight);
    line-height: var(--link-line-height);
    color: var(--off-black);
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

button{

    padding: 20px 0px;
    border: none;
    background: transparent;
    

    &:hover{
        cursor: pointer;
    }
}

select{
    border-width: 1px;
    border-style: solid;
    border-color: var(--trans-grey);
    background-color: transparent;
    color: var(--off-black);
    font-size: 13px;
    font-weight: 700;
    width: 150px;
    text-align: start;
}

input{
    border-width: 1px;
    border-style: solid;
    border-color: var(--trans-grey);
    background-color: transparent;
    color: var(--off-black);
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
input[type="range"]{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: var(--trans-grey);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--off-black);
    height: var(--body-size);
    width: var(--body-size);
    border-radius: 3px;
    background: var(--off-white);
    cursor: pointer;
    margin-top: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-track {
    cursor: pointer;
  
    background: transparent; 
    border-color: transparent;
    color: transparent;
}




.no-select{
    user-select: none;
}


.material-selection{
    flex-direction: row;
}


.config-ui{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px 15px 20px 20px;
    overflow-x: visible;
    margin-top: 150px;
    height: calc(100% - 150px);
}
.config-ui::-webkit-scrollbar{
    display: none;
}
.config-ui__title{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.config-ui__title span{
    display: block;
}

.config-ui__scroll-container{
    height: 85%;
    overflow-y: scroll;
    overflow-x: visible;
}
.config-ui__scroll-container::-webkit-scrollbar{
    display: none;
}
.config-ui__scroll-container::-webkit-scrollbar-thumb{
    display: none;
}
.config-ui__scroll-container::-webkit-scrollbar-track{
    display: none;
}
.config-ui__scroll-container::-webkit-scrollbar-thumb{
    display: none;
}

.config-ui__title-and-options{
    height: 850%;
    width: 100%;
    overflow-y: hidden;
}

.config-wrapper{
    /* top: 15%; */
    top: 0;
    width: 25%;
    height: 100%;
    right: 50px;

    overflow-y: hidden;
    overflow-x: hidden;

    background: var(--trans-white);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    position: absolute;
}
.config-ui__extra-buttons{
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 75px;
}
.config-ui__zoom-out button{

    &:hover{
        path{
            stroke: var(--light-grey);
        }

    }
}
.config-ui__move button{

    &:hover{
        path{
            stroke: var(--light-grey);
        }

    }
}
.config-ui__move--active button{

}

.zoom-out__image{
    width: 20px;
    height: 20px;
}
.zoom-out__image path{
    stroke: var(--dark-grey);
}
.move__image{
    width: 20px;
    height: 20px;
}
.move__image path{
    stroke: var(--dark-grey);
}
.move__image--active path{
    stroke: var(--light-grey);
}

.config-ui__selection-buttons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.config-ui__selection-buttons button{
    padding: 10px;
    border: 1px solid var(--off-white);
    cursor: pointer;
}
.config-ui__selection-buttons button.active-selection-button{
    border: 3px solid var(--off-black);
}


.ui-page{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.ui-page__slider{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    border-top: solid 1px var(--off-black);
}

.config-ui__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
}
.config-ui__nav button path{
    stroke-width: 2.5px;
}
.config-ui__nav__button--disabled{

    &:hover{
        cursor: not-allowed;
    }
}

.config-ui__amounts__amount{
    font-family: var(--heading-family);
    font-size: var(--heading5-size);
    font-weight: var(--heading5-weight);
    line-height: var(--heading5-line-height);
}

.config-ui__details{
    margin-top: 40px;
    width: 100%;
    padding-left: 5px;
}
.material-category-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25%, 25%), 1fr));
    gap: 0rem 0rem;
}
.config-ui__details summary{
    font-family: var(--heading-family);
    font-size: var(--heading5-size);
    font-weight: var(--heading5-weight);
    line-height: var(--heading5-line-height);
    cursor: pointer;
}
summary span{
    color: var(--dark-grey);
}

.config-ui__details summary::marker {
    content: '';
}

.config-ui__details summary::after {
    content: '+';
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: var(--dark-grey);
}

.config-ui__details[open] summary::after {
    content: '-';
}

.config-ui__material-options{
    margin-top: 20px;
}
.material-options__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.material-options__category-wrapper{
    width: 100%;
    height: 100%;
}
.config-ui__material-options__category{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25%, 25%), 1fr));
    gap: 3rem 0rem;
    padding-bottom: 10px;
}
.config-ui__material-options__option{
    width: 45px;
    height: 45px;

    border: 1px solid var(--off-black);

    &:hover{
        cursor: pointer;
    }
}

.selected-material-n-category {
    outline: 3px solid var(--dark-grey);
    outline-offset: 2px;
}

@media(max-width: 1000px){
    .config-wrapper{
        top: 70%;
        width: 100%;
        height: 30%;
        right: 0;
    }
    .config-ui{
        margin-top: 0px;
        padding: 15px 50px 20px 50px;
    }
    .config-ui__title{
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        margin-top: -85px;
        pointer-events: none;
    }
    .config-ui__scroll-container{
        padding-bottom: 100px;
    }
    .config-ui__nav{
        top: 0;
    }

    .config-ui__extra-buttons{
        left: 50px;
    }

    .config-ui__material-options__option{
        width: 35px;
        height: 35px;
    }

    .material-category-details{
        grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
        gap: 0rem 1.5rem;
    }        
    .config-ui__material-options__category{
        grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
        gap: 0rem 1.5rem;
    }

    h1{
        font-size: 30px;
        line-height: 60px;
    }
    h2{
        font-size: 30px;
        line-height: 60px;
    }
}